.advantages {
  text-align: center;
}

.advantages__container {
  padding: 32px 18px 16px 18px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.advantages__description {
  margin: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  color: $white;
  background-color: $blue;
  padding: 37px 18px;

  @media (max-width: 767px) {
    &--triangle {
      background-image: url("../img/hero-triangle-white.svg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;
      padding-top: 22%;
      padding-bottom: 40px;
    }
  }

  @media (min-width: $tablet-desktop) {
    width: 33.33%;
    padding: 52px 0 31px;
  }

  &--box {
    color: $black;
    background-color: #e7e5e5;

    &:not(:last-child) {
      @media (max-width: 767px) {
        border-bottom: 1px solid #d6d6d6;
      }
    }
  }
}

.advantages__wrapper {
  padding: 24px 26px;

  @media (min-width: $tablet-desktop) {
    padding: 41px 33px 63px 33px;
  }
}

.advantages__image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.advantages__group {
  color: $black;
  background-color: $white;

  @media (min-width: $tablet-desktop) {
    &--accent {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.advantages__group-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: $white;
  list-style: none;

  @media (min-width: $tablet-desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__group-item {
  display: flex;
  flex-direction: column;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 10px 0;
  padding: 23px 18px 25px 65px;
  text-align: left;

  &--house {
    background-image: url("../img/index/icon-house.svg");
  }

  &--food {
    background-image: url("../img/index/icon-burger.svg");
  }

  &--souvenirs {
    background-image: url("../img/index/icon-gift.svg");
  }

  @media (min-width: $tablet-desktop) {
    background-size: 77px 72px;
    background-position: 50% 45px;
    padding: 158px 33px 60px 33px;
    text-align: center;
  }
}

.advantages__group-title {
  margin: 0;
}

.advantages__group-description {
  margin: 0;
  color: $brown-dark;
}
