.button {
  color: $white;
  background-color: $blue;
  font-family: inherit;
  font-weight: 700;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
