.copyright {
  position: relative;
}

.copyright__title {
  margin: 7px 0;
  text-transform: uppercase;
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $black;
  text-decoration: none;
  margin-left: auto;
  gap: 12px;

  &:hover {
    color: $blue;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__link:hover::after {
  background-color: $blue;
}

.copyright__link:active::after {
  background-color: #b3b3b3;
}
