.demonstrate {
  padding: 0 20px;

  @media (min-width: $tablet-desktop) {
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    padding: 0 199px;
  }
}

.demonstrate__wrapper {
  text-align: center;
}

.demonstrate__title {
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}

.demonstrate__description {
  color: #333333;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}
