.feedback {
  padding: 36px 20px 22px;
}

.feedback__form {

}

.feedback__container {

}

.feedback__information {
  margin: 0;
  border: none;
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.feedback__list {
  list-style-type: none;
}

.feedback__item {

}

.feedback__control {

}

.feedback__control-input {
  margin: 0;
}

.feedback__control-mark {

}

.feedback__control-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback__wrapper {
  display: inline-block;
}

.feedback__caption {
  color: #333333;
  text-transform: uppercase;
}

.feedback__field {

}

.feedback__field--area {
  min-width: 279px;
  min-height: 150px;
}

.feedback__impressions {
  margin: 0;
  border: none;
}

.feedback__attractions {
  margin: 0;
  border: none;
}

.feedback__emotions {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.feedback__field--area {
  margin: 0;
  padding: 0;
}

.feedback__button {

}

.feedback__required-field {
  margin: 0;
  color: rgba(#333333, 0.6);
}
