.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-desktop) {
    align-items: stretch;
  }
}

.feedback__form {
  padding: 0 20px;

  @media (min-width: $tablet-desktop) {
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    padding: 0 120px;
  }
}

.feedback__group-wrapper {
  @media (min-width: $tablet-desktop) {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #dbdbdb;
      background-repeat: no-repeat;
      bottom: -14px;
      left: 50%;
    }
  }
}

.feedback__group {
  margin: 0;
  padding: 0;
  border: none;
  border-top: solid 1px #e5e5e5;

  @media (min-width: $tablet-desktop) {
    padding-right: 0;
    border-top: none;

    &--name {
      margin-right: 10%;
    }

    &--contacts {
      margin-left: 10%;
    }

    &--impressions {
      width: 100%;
      border-top: solid 1px #e5e5e5;
    }

    &--attractions {
      width: 100%;
      border-top: solid 1px #e5e5e5;
    }

    &--emotions {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      border-top: solid 1px #e5e5e5;
    }
  }
}

.feedback__information {
  display: grid;
  width: 100%;
  gap: 16px;
  margin: 0;
  padding: 0;
  border: none;
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}

.feedback__list {
  display: grid;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-desktop) {
    grid-template-columns: repeat(2, 1fr);

    &--checkbox {
      padding: 0 50px;
    }
  }
}

.feedback__item {
  padding: 16px 0 16px;
}

.feedback__control {
  display: block;
  position: relative;
  padding-left: 66px;
  cursor: pointer;

  &--radio .feedback__control-mark::after {
    top: 15px;
    left: 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $brown-dark;
  }

  &--checkbox .feedback__control-mark::after {
    content: url("../img/form/tick.svg");
    padding: 15px 12px;
  }

  input:checked ~ .feedback__control-mark::after {
    display: block;
  }
}

.feedback__control-input {
  position: absolute;
  margin: 0;
  opacity: 0;
  left: 12px;
  top: 3px;

  &:focus-visible + .feedback__control-mark {
    outline: solid 3px $blue;
  }
}

.feedback__control-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 46px;
  background-color: $white-smoke;
  margin-top: -10px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    opacity: 0.3;
  }

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
  }
}

.feedback__control-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback__wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;

  &--phone,
  &--email {
    &::before {
      content: "";
      position: absolute;
      top: 23px;
      right: 0;
      width: 58px;
      height: 58px;
      background-color: #e6e6e6;
    }
  }

  &--phone {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/sprite.svg#phone");
      width: 18px;
      height: 18px;
      top: 43px;
      right: 18px;
    }
  }

  &--email {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/sprite.svg#mail");
      width: 18px;
      height: 18px;
      top: 43px;
      right: 18px;
    }
  }
}

.feedback__caption {
  color: $brown-dark;
  text-transform: uppercase;
}

.feedback__field {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  outline-offset: -3px;
  background-color: $white-smoke;

  &:focus-visible {
    outline: solid 3px $blue;
  }

  &:hover {
    background-color: #e5e5e5;
    outline: 4px solid #e5e5e5;
  }

  &:active {
    background-color: $white;
  }

  &--area {
    width: 100%;
    margin: 0;
    padding: 16px;
    min-width: 279px;
    min-height: 150px;
  }
}

.feedback__container {
  display: flex;
  flex-wrap: wrap;
}

.feedback__button {
  font-size: 21px;
  line-height: 26px;
  width: 100%;
  padding: 16px 48px;

  @media (min-width: 768px) {
    width: 324px;
  }
}

.feedback__required-field {
  font-size: 12px;
  line-height: 21px;
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  color: rgba(#333333, 0.6);
}
