.gallery {
  padding: 0;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 60px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.gallery__item {
  border-bottom: solid 1px #e5e5e5;

  @media (min-width: $tablet-desktop) {
    display: grid;
  }
}

.gallery__picture {
  display: block;
}

.gallery__title {
  margin: 0;
  text-transform: uppercase;
}

.gallery__author {
  color: $brown-dark;
  margin: 0;
  line-height: 21px;
}

.gallery__rate {
  display: flex;
  flex-wrap: wrap;
}

.gallery__icon {
  padding-right: 16px;
}

.gallery__number {
  margin: 0;
  line-height: 21px;
}
