.introduction {
  text-align: center;
  margin: 0;
  padding: 37px 10px 10px;
  border-bottom: solid 1px #e5e5e5;

  @media (min-width: $tablet-desktop) {
    border: none;
  }
}

.introduction__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-desktop) {
    font-size: 30px;
  }
}

.introduction__description {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}
