.introduction {
  text-align: center;
  margin: 0;
  padding: 39px 20px 36px;
  border-bottom: solid 1px #e5e5e5;

  @media (min-width: $tablet-desktop) {
    border: none;
  }
}

.introduction__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-desktop) {
    font-size: 30px;
  }
}

.introduction__description {
  font-size: inherit;
  line-height: 21px;
  color: $brown-dark;
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}
