.main-nav {
  position: absolute;
  background-color: $blue;
  width: 100%;
  z-index: 2;

  @media (min-width: $tablet-desktop) {
    background-color: rgba($color: $white, $alpha: 0);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  list-style-type: none;

  @media (min-width: $tablet-desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    font-size: 14px;
    line-height: 21px;
  }
}

.main-nav__item {
  min-height: 55px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet-desktop) {
    box-shadow: none;
    box-sizing: border-box;
    width: 20%;
  }
}

.main-nav__item:nth-child(4n+2) {
  margin-right: auto;
}

.main-nav__link {
  display: block;
  color: $white;
  font-weight: 700;
  padding: 18px 15px;
  text-align: center;
  text-decoration: none;

  @media (min-width: $tablet-desktop) {
    color: $black;

    &--active {
      color: $brown;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 40px;
  padding: 0;
  cursor: pointer;
  border: none;
  z-index: 3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-desktop) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -6px;
    width: 23px;
    height: 3px;
    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade($blue, 30%);
  }
}

.main-nav--closed {
  background-color: $white;
  z-index: 0;

  & .main-nav__toggle::before {
    position: absolute;
    content: "";
    background-color: $blue;
    top: 0;
    left: 0;
    width: 23px;
    height: 4px;
    box-shadow: 0 9px 0 $blue, 0 18px 0 $blue;

    &:hover::before,
    &:active::before {
      background-color: fade($blue, 60%);
      box-shadow: 0 9px 0 fade($blue, 60%), 0 18px 0 fade($blue, 60%);
    }
  }

  & .main-nav__list {
    display: none;
  }
}
