.main-header {
  position: relative;
  min-height: 56px;
}

.main-header__logo-link {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: $tablet-desktop) {
    top: 0;
    display: block;
  }

  @media (min-width: $desktop) {
    padding: 0 20px;
  }

  &--nojs {
    top: 100%;
  }
}

.main-header__logo {
  max-width: max-content;
}
