.search-hotel {
  text-align: center;
  padding: 38px 18px 49px;
}

.search-hotel__title {
  margin: 0;
  text-transform: uppercase;
}

.search-hotel__description {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}

.search-hotel__link {
  font-size: 21px;
  line-height: 26px;
}
