.search-hotel {
  text-align: center;
  padding: 38px 18px 49px;

  @media (min-width: $tablet-desktop) {
    padding: 38px 166px 49px;
  }
}

.search-hotel__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-desktop) {
    font-size: 30px;
    line-height: 30px;
  }
}

.search-hotel__description {
  margin: 0;
  margin-bottom: 32px;
  color: #333333;
}

.search-hotel__link {
  display: inline-block;
  font-size: 21px;
  line-height: 26px;
  padding: 16px 49px;

  @media (min-width: $tablet-desktop) {
    width: 458px;
  }
}
