.search-hotel {
  text-align: center;
  padding: 41px 18px 49px;

  @media (min-width: $tablet-desktop) {
    padding: 57px 155px 55px;
  }

  @media (min-width: $desktop) {
    padding: 60px 356px 65px;
  }
}

.search-hotel__title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-desktop) {
    margin-bottom: 31px;
    font-size: 30px;
    line-height: 30px;
  }
}

.search-hotel__description {
  margin: 0;
  margin-bottom: 32px;
  color: #333333;

  @media (min-width: $tablet-desktop) {
    margin-bottom: 45px;
  }
}

.search-hotel__link {
  padding: 16px 49px;

  @media (min-width: $tablet-desktop) {
    width: 458px;
  }
}
