.social__list {
  display: flex;
  justify-content: center;
  color: $black;
  gap: 6px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}

.social__item {
  display: block;
  min-width: 48px;
  height: 48px;
  background-color: $blue;
  margin-right: 8px;
  padding: 16px 0 0 0;
  box-sizing: border-box;
}
