@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
html {
  background-color: #f2f2f2;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages {
  text-align: center;
}

.advantages__wrapper {
  padding: 32px 25px 35px;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}

.advantages__description {
  margin: 0;
  text-transform: uppercase;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item {
  color: #ffffff;
  background-color: #81b3d2;
  padding: 54px 18px 40px 18px;
}
.advantages__item--box {
  color: #000000;
  background-color: #e7e5e5;
  padding: 24px 32px 28px;
}

@media (max-width: 320px) {
  .advantages__item--box:not(:last-child) {
    border-bottom: 1px solid #d6d6d6;
  }
}
.advantages__image {
  display: block;
  object-fit: cover;
}

.advantages__group {
  color: #000000;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__group {
    display: flex;
  }
}

.advantages__group-list {
  padding: 0;
  list-style-type: none;
}

.advantages__group-title {
  margin: 0;
  padding-left: 47px;
  text-align: left;
  text-transform: uppercase;
}

.advantages__group-description {
  margin: 0;
  padding-left: 47px;
  color: #333333;
  text-align: left;
  text-transform: uppercase;
}

.advantages__group-item {
  display: block;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages__group-item--house {
  background-image: url("../img/content/icon-house.svg");
}

.advantages__group-item--food {
  background-image: url("../img/content/icon-burger.svg");
}

.advantages__group-item--souvenirs {
  background-image: url("../img/content/icon-gift.svg");
}

.button {
  color: #ffffff;
  background-color: #81b3d2;
  font-family: inherit;
  font-weight: 700;
  border: none;
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.demonstrate {
  padding: 17px 28px 0;
}

.demonstrate__wrapper {
  text-align: center;
}

.demonstrate__title {
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}

.demonstrate__description {
  color: #333333;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}

.feedback {
  padding: 36px 20px 22px;
}

.feedback__information {
  margin: 0;
  border: none;
}

.feedback__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.feedback__list {
  list-style-type: none;
}

.feedback__control-input {
  margin: 0;
}

.feedback__control-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.feedback__wrapper {
  display: inline-block;
}

.feedback__caption {
  color: #333333;
  text-transform: uppercase;
}

.feedback__field--area {
  min-width: 279px;
  min-height: 150px;
}

.feedback__impressions {
  margin: 0;
  border: none;
}

.feedback__attractions {
  margin: 0;
  border: none;
}

.feedback__emotions {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.feedback__field--area {
  margin: 0;
  padding: 0;
}

.feedback__required-field {
  margin: 0;
  color: rgba(51, 51, 51, 0.6);
}

.gallery {
  padding: 37px 20px 0;
}

.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gallery__picture {
  display: block;
}

.gallery__title {
  margin: 0;
  text-transform: uppercase;
}

.gallery__author {
  color: #333333;
  margin: 0;
  line-height: 21px;
}

.gallery__rate {
  display: flex;
  flex-wrap: wrap;
}

.gallery__number {
  margin: 0;
  line-height: 21px;
}

.hero {
  color: #ffffff;
  background-color: #333333;
  background-image: url("../img/hero-triangle.svg"), url("../img/back-desktop.jpg");
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: bottom center, top center;
  padding: 90px 0 85px;
  text-align: center;
}
@media (min-width: 768px) {
  .hero {
    padding: 77px 0 91px;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 78px 0 90px;
  }
}

.introduction {
  text-align: center;
  margin: 0;
  padding: 37px 20px 0;
}

.introduction__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  text-transform: uppercase;
}

.introduction__description {
  color: #333333;
  line-height: 21px;
  margin: 0;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.main-header {
  position: relative;
  min-height: 56px;
}

.main-header__logo {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .main-header__logo {
    margin: 0 12px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .main-header__logo {
    padding: 0 20px;
  }
}

.main-nav {
  position: absolute;
  background-color: #81b3d2;
  width: 100%;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-nav {
    background-color: rgba(255, 255, 255, 0);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  list-style-type: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 21px;
  }
}

.main-nav__item {
  min-height: 55px;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .main-nav__item {
    box-shadow: none;
  }
}

.main-nav__link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 17px 50px 12px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #000000;
  }
  .main-nav__link--active {
    color: #766357;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 40px;
  padding: 0;
  cursor: pointer;
  border: none;
  z-index: 3;
}
.main-nav__toggle:hover {
  opacity: 0.6;
}
.main-nav__toggle:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -6px;
  width: 23px;
  height: 3px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
  background-color: fade(#81b3d2, 30%);
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  background-color: #81b3d2;
  top: 0;
  left: 0;
  width: 23px;
  height: 4px;
  box-shadow: 0 9px 0 #81b3d2, 0 18px 0 #81b3d2;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(#81b3d2, 60%);
  box-shadow: 0 9px 0 fade(#81b3d2, 60%), 0 18px 0 fade(#81b3d2, 60%);
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--closed {
  background-color: #ffffff;
  z-index: 0;
}

.map {
  position: relative;
  height: 350px;
}

.map__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-hotel {
  text-align: center;
  padding: 38px 18px 49px;
}

.search-hotel__title {
  margin: 0;
  text-transform: uppercase;
}

.search-hotel__description {
  margin: 0;
  color: #333333;
  text-transform: uppercase;
}

.search-hotel__link {
  font-size: 21px;
  line-height: 26px;
}

.main-footer {
  margin: 0;
  padding: 33px 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-footer {
    display: flex;
    justify-content: space-between;
  }
}

.main-footer__hashtag {
  font-size: 21px;
  line-height: 26px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-footer__hashtag {
    margin: 0;
  }
}

.main-footer__academy-link {
  display: flex;
  justify-content: center;
}

.main-footer__academy-create {
  margin: 7px;
  margin-left: 0;
  text-transform: uppercase;
}

.social__list {
  display: flex;
  justify-content: center;
  color: #000000;
  gap: 6px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  list-style-type: none;
}
@media (min-width: 768px) {
  .social__list {
    margin: 0;
  }
}

.social__item {
  display: block;
  min-width: 48px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 8px;
  padding: 16px 0 0 0;
  box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */