body {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 21px;
  min-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}
